<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>gen-uniq-subseq</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
  <div class="container">
    hsa-let-7a-2-3p<br>
    hsa-let-7a-3p<br>
    hsa-let-7a-5p<br>
    hsa-let-7b-3p<br>
    hsa-let-7b-5p<br>
    hsa-let-7c-3p<br>
    hsa-let-7c-5p<br>
    hsa-let-7d-3p<br>
    hsa-let-7d-5p<br>
    hsa-let-7e-3p<br>
    hsa-let-7e-5p<br>
    hsa-let-7f-1-3p<br>
    hsa-let-7f-2-3p<br>
    hsa-let-7f-5p<br>
    hsa-let-7g-3p<br>
    hsa-let-7g-5p<br>
    hsa-let-7i-3p<br>
    hsa-let-7i-5p<br>
    hsa-miR-100-3p<br>
    hsa-miR-100-5p<br>
    hsa-miR-101-3p<br>
    hsa-miR-101-5p<br>
    hsa-miR-103a-2-5p<br>
    hsa-miR-103a-3p<br>
    hsa-miR-103b<br>
    hsa-miR-105-3p<br>
    hsa-miR-105-5p<br>
    hsa-miR-106a-3p<br>
    hsa-miR-106a-5p<br>
    hsa-miR-106b-3p<br>
    hsa-miR-106b-5p<br>
    hsa-miR-107<br>
    hsa-miR-10a-3p<br>
    hsa-miR-10a-5p<br>
    hsa-miR-10b-3p<br>
    hsa-miR-10b-5p<br>
    hsa-miR-1178-3p<br>
    hsa-miR-1178-5p<br>
    hsa-miR-1179<br>
    hsa-miR-1180-3p<br>
    hsa-miR-1180-5p<br>
    hsa-miR-1181<br>
    hsa-miR-1182<br>
    hsa-miR-1183<br>
    hsa-miR-1184<br>
    hsa-miR-1185-1-3p<br>
    hsa-miR-1185-2-3p<br>
    hsa-miR-1185-5p<br>
    hsa-miR-1193<br>
    hsa-miR-1197<br>
    hsa-miR-1199-3p<br>
    hsa-miR-1199-5p<br>
    hsa-miR-1200<br>
    hsa-miR-1202<br>
    hsa-miR-1203<br>
    hsa-miR-1204<br>
    hsa-miR-1205<br>
    hsa-miR-1206<br>
    hsa-miR-1207-3p<br>
    hsa-miR-1207-5p<br>
    hsa-miR-1208<br>
    hsa-miR-122-3p<br>
    hsa-miR-1224-3p<br>
    hsa-miR-1224-5p<br>
    hsa-miR-1225-3p<br>
    hsa-miR-1225-5p<br>
    hsa-miR-122-5p<br>
    hsa-miR-1226-3p<br>
    hsa-miR-1226-5p<br>
    hsa-miR-1227-3p<br>
    hsa-miR-1227-5p<br>
    hsa-miR-1228-3p<br>
    hsa-miR-1228-5p<br>
    hsa-miR-1229-3p<br>
    hsa-miR-1229-5p<br>
    hsa-miR-1231<br>
    hsa-miR-1233-3p<br>
    hsa-miR-1233-5p<br>
    hsa-miR-1234-3p<br>
    hsa-miR-1236-3p<br>
    hsa-miR-1236-5p<br>
    hsa-miR-1237-3p<br>
    hsa-miR-1237-5p<br>
    hsa-miR-1238-3p<br>
    hsa-miR-1238-5p<br>
    hsa-miR-1243<br>
    hsa-miR-124-3p<br>
    hsa-miR-1244<br>
    hsa-miR-1245a<br>
    hsa-miR-1245b-3p<br>
    hsa-miR-1245b-5p<br>
    hsa-miR-124-5p<br>
    hsa-miR-1246<br>
    hsa-miR-1247-3p<br>
    hsa-miR-1247-5p<br>
    hsa-miR-1248<br>
    hsa-miR-1249-3p<br>
    hsa-miR-1249-5p<br>
    hsa-miR-1250-3p<br>
    hsa-miR-1250-5p<br>
    hsa-miR-1251-3p<br>
    hsa-miR-1251-5p<br>
    hsa-miR-1252-3p<br>
    hsa-miR-1252-5p<br>
    hsa-miR-1253<br>
    hsa-miR-1254<br>
    hsa-miR-1255a<br>
    hsa-miR-1255b-2-3p<br>
    hsa-miR-1255b-5p<br>
    hsa-miR-1256<br>
    hsa-miR-1257<br>
    hsa-miR-1258<br>
    hsa-miR-125a-3p<br>
    hsa-miR-125a-5p<br>
    hsa-miR-125b-1-3p<br>
    hsa-miR-125b-2-3p<br>
    hsa-miR-125b-5p<br>
    hsa-miR-1260a<br>
    hsa-miR-1260b<br>
    hsa-miR-1261<br>
    hsa-miR-1262<br>
    hsa-miR-1263<br>
    hsa-miR-126-3p<br>
    hsa-miR-1264<br>
    hsa-miR-1265<br>
    hsa-miR-126-5p<br>
    hsa-miR-1266-3p<br>
    hsa-miR-1266-5p<br>
    hsa-miR-1267<br>
    hsa-miR-1268a<br>
    hsa-miR-1268b<br>
    hsa-miR-1269a<br>
    hsa-miR-1269b<br>
    hsa-miR-1270<br>
    hsa-miR-1271-3p<br>
    hsa-miR-1271-5p<br>
    hsa-miR-1272<br>
    hsa-miR-1273a<br>
    hsa-miR-1273c<br>
    hsa-miR-1273d<br>
    hsa-miR-1273e<br>
    hsa-miR-1273f<br>
    hsa-miR-1273g-3p<br>
    hsa-miR-1273g-5p<br>
    hsa-miR-1273h-3p<br>
    hsa-miR-1273h-5p<br>
    hsa-miR-127-3p<br>
    hsa-miR-1275<br>
    hsa-miR-127-5p<br>
    hsa-miR-1276<br>
    hsa-miR-1277-3p<br>
    hsa-miR-1277-5p<br>
    hsa-miR-1278<br>
    hsa-miR-1279<br>
    hsa-miR-1281<br>
    hsa-miR-128-1-5p<br>
    hsa-miR-1282<br>
    hsa-miR-128-2-5p<br>
    hsa-miR-1283<br>
    hsa-miR-128-3p<br>
    hsa-miR-1284<br>
    hsa-miR-1285-3p<br>
    hsa-miR-1285-5p<br>
    hsa-miR-1286<br>
    hsa-miR-1287-3p<br>
    hsa-miR-1287-5p<br>
    hsa-miR-1288-3p<br>
    hsa-miR-1288-5p<br>
    hsa-miR-1289<br>
    hsa-miR-1290<br>
    hsa-miR-1291<br>
    hsa-miR-129-1-3p<br>
    hsa-miR-129-2-3p<br>
    hsa-miR-1292-3p<br>
    hsa-miR-1292-5p<br>
    hsa-miR-1293<br>
    hsa-miR-1294<br>
    hsa-miR-1295a<br>
    hsa-miR-1295b-3p<br>
    hsa-miR-1295b-5p<br>
    hsa-miR-129-5p<br>
    hsa-miR-1296-3p<br>
    hsa-miR-1296-5p<br>
    hsa-miR-1297<br>
    hsa-miR-1298-3p<br>
    hsa-miR-1298-5p<br>
    hsa-miR-1299<br>
    hsa-miR-1301-3p<br>
    hsa-miR-1301-5p<br>
    hsa-miR-1302<br>
    hsa-miR-1303<br>
    hsa-miR-1304-3p<br>
    hsa-miR-1304-5p<br>
    hsa-miR-1305<br>
    hsa-miR-1306-3p<br>
    hsa-miR-1306-5p<br>
    hsa-miR-1307-3p<br>
    hsa-miR-1307-5p<br>
    hsa-miR-130a-3p<br>
    hsa-miR-130a-5p<br>
    hsa-miR-130b-3p<br>
    hsa-miR-130b-5p<br>
    hsa-miR-1321<br>
    hsa-miR-1322<br>
    hsa-miR-1323<br>
    hsa-miR-132-3p<br>
    hsa-miR-1324<br>
    hsa-miR-132-5p<br>
    hsa-miR-133a-3p<br>
    hsa-miR-133a-5p<br>
    hsa-miR-133b<br>
    hsa-miR-1343-3p<br>
    hsa-miR-1343-5p<br>
    hsa-miR-134-3p<br>
    hsa-miR-134-5p<br>
    hsa-miR-135a-3p<br>
    hsa-miR-135a-5p<br>
    hsa-miR-135b-3p<br>
    hsa-miR-135b-5p<br>
    hsa-miR-136-3p<br>
    hsa-miR-136-5p<br>
    hsa-miR-137<br>
    hsa-miR-138-1-3p<br>
    hsa-miR-138-2-3p<br>
    hsa-miR-138-5p<br>
    hsa-miR-139-3p<br>
    hsa-miR-139-5p<br>
    hsa-miR-1-3p<br>
    hsa-miR-140-3p<br>
    hsa-miR-140-5p<br>
    hsa-miR-141-3p<br>
    hsa-miR-141-5p<br>
    hsa-miR-142-3p<br>
    hsa-miR-142-5p<br>
    hsa-miR-143-3p<br>
    hsa-miR-143-5p<br>
    hsa-miR-144-3p<br>
    hsa-miR-144-5p<br>
    hsa-miR-145-3p<br>
    hsa-miR-145-5p<br>
    hsa-miR-1468-3p<br>
    hsa-miR-1468-5p<br>
    hsa-miR-1469<br>
    hsa-miR-146a-3p<br>
    hsa-miR-146a-5p<br>
    hsa-miR-146b-3p<br>
    hsa-miR-146b-5p<br>
    hsa-miR-1470<br>
    hsa-miR-1471<br>
    hsa-miR-147a<br>
    hsa-miR-147b<br>
    hsa-miR-148a-3p<br>
    hsa-miR-148a-5p<br>
    hsa-miR-148b-3p<br>
    hsa-miR-148b-5p<br>
    hsa-miR-149-3p<br>
    hsa-miR-149-5p<br>
    hsa-miR-150-3p<br>
    hsa-miR-150-5p<br>
    hsa-miR-151a-3p<br>
    hsa-miR-151a-5p<br>
    hsa-miR-151b<br>
    hsa-miR-152-3p<br>
    hsa-miR-152-5p<br>
    hsa-miR-153-3p<br>
    hsa-miR-153-5p<br>
    hsa-miR-1537-3p<br>
    hsa-miR-1537-5p<br>
    hsa-miR-1538<br>
    hsa-miR-1539<br>
    hsa-miR-154-3p<br>
    hsa-miR-154-5p<br>
    hsa-miR-155-3p<br>
    hsa-miR-155-5p<br>
    hsa-miR-1587<br>
    hsa-miR-15a-3p<br>
    hsa-miR-15a-5p<br>
    hsa-miR-15b-3p<br>
    hsa-miR-15b-5p<br>
    hsa-miR-1-5p<br>
    hsa-miR-16-1-3p<br>
    hsa-miR-16-2-3p<br>
    hsa-miR-16-5p<br>
    hsa-miR-17-3p<br>
    hsa-miR-17-5p<br>
    hsa-miR-181a-2-3p<br>
    hsa-miR-181a-3p<br>
    hsa-miR-181a-5p<br>
    hsa-miR-181b-2-3p<br>
    hsa-miR-181b-3p<br>
    hsa-miR-181b-5p<br>
    hsa-miR-181c-3p<br>
    hsa-miR-181c-5p<br>
    hsa-miR-181d-3p<br>
    hsa-miR-181d-5p<br>
    hsa-miR-182-3p<br>
    hsa-miR-1825<br>
    hsa-miR-182-5p<br>
    hsa-miR-1827<br>
    hsa-miR-183-3p<br>
    hsa-miR-183-5p<br>
    hsa-miR-184<br>
    hsa-miR-185-3p<br>
    hsa-miR-185-5p<br>
    hsa-miR-186-3p<br>
    hsa-miR-186-5p<br>
    hsa-miR-187-3p<br>
    hsa-miR-187-5p<br>
    hsa-miR-188-3p<br>
    hsa-miR-188-5p<br>
    hsa-miR-18a-3p<br>
    hsa-miR-18a-5p<br>
    hsa-miR-18b-3p<br>
    hsa-miR-18b-5p<br>
    hsa-miR-1908-3p<br>
    hsa-miR-1908-5p<br>
    hsa-miR-1909-3p<br>
    hsa-miR-1909-5p<br>
    hsa-miR-190a-3p<br>
    hsa-miR-190a-5p<br>
    hsa-miR-190b<br>
    hsa-miR-1910-3p<br>
    hsa-miR-1910-5p<br>
    hsa-miR-1911-3p<br>
    hsa-miR-1911-5p<br>
    hsa-miR-1912<br>
    hsa-miR-1913<br>
    hsa-miR-191-3p<br>
    hsa-miR-1914-3p<br>
    hsa-miR-1914-5p<br>
    hsa-miR-1915-3p<br>
    hsa-miR-1915-5p<br>
    hsa-miR-191-5p<br>
    hsa-miR-192-3p<br>
    hsa-miR-192-5p<br>
    hsa-miR-193a-3p<br>
    hsa-miR-193a-5p<br>
    hsa-miR-193b-3p<br>
    hsa-miR-193b-5p<br>
    hsa-miR-194-3p<br>
    hsa-miR-194-5p<br>
    hsa-miR-195-3p<br>
    hsa-miR-195-5p<br>
    hsa-miR-196a-3p<br>
    hsa-miR-196a-5p<br>
    hsa-miR-196b-3p<br>
    hsa-miR-196b-5p<br>
    hsa-miR-1972<br>
    hsa-miR-1973<br>
    hsa-miR-197-3p<br>
    hsa-miR-197-5p<br>
    hsa-miR-1976<br>
    hsa-miR-198<br>
    hsa-miR-199a-3p<br>
    hsa-miR-199a-5p<br>
    hsa-miR-199b-3p<br>
    hsa-miR-199b-5p<br>
    hsa-miR-19a-3p<br>
    hsa-miR-19a-5p<br>
    hsa-miR-19b-1-5p<br>
    hsa-miR-19b-2-5p<br>
    hsa-miR-19b-3p<br>
    hsa-miR-200a-3p<br>
    hsa-miR-200a-5p<br>
    hsa-miR-200b-3p<br>
    hsa-miR-200b-5p<br>
    hsa-miR-200c-3p<br>
    hsa-miR-200c-5p<br>
    hsa-miR-202-3p<br>
    hsa-miR-202-5p<br>
    hsa-miR-203a-3p<br>
    hsa-miR-203a-5p<br>
    hsa-miR-203b-3p<br>
    hsa-miR-203b-5p<br>
    hsa-miR-204-3p<br>
    hsa-miR-204-5p<br>
    hsa-miR-2052<br>
    hsa-miR-2053<br>
    hsa-miR-205-3p<br>
    hsa-miR-2054<br>
    hsa-miR-205-5p<br>
    hsa-miR-206<br>
    hsa-miR-208a-3p<br>
    hsa-miR-208a-5p<br>
    hsa-miR-208b-3p<br>
    hsa-miR-208b-5p<br>
    hsa-miR-20a-3p<br>
    hsa-miR-20a-5p<br>
    hsa-miR-20b-3p<br>
    hsa-miR-20b-5p<br>
    hsa-miR-210-3p<br>
    hsa-miR-210-5p<br>
    hsa-miR-2110<br>
    hsa-miR-2113<br>
    hsa-miR-211-3p<br>
    hsa-miR-2114-3p<br>
    hsa-miR-2114-5p<br>
    hsa-miR-2115-3p<br>
    hsa-miR-2115-5p<br>
    hsa-miR-211-5p<br>
    hsa-miR-2116-3p<br>
    hsa-miR-2116-5p<br>
    hsa-miR-2117<br>
    hsa-miR-212-3p<br>
    hsa-miR-212-5p<br>
    hsa-miR-21-3p<br>
    hsa-miR-214-3p<br>
    hsa-miR-214-5p<br>
    hsa-miR-215-3p<br>
    hsa-miR-215-5p<br>
    hsa-miR-21-5p<br>
    hsa-miR-216a-3p<br>
    hsa-miR-216a-5p<br>
    hsa-miR-216b-3p<br>
    hsa-miR-216b-5p<br>
    hsa-miR-217<br>
    hsa-miR-218-1-3p<br>
    hsa-miR-218-2-3p<br>
    hsa-miR-218-5p<br>
    hsa-miR-219a-1-3p<br>
    hsa-miR-219a-2-3p<br>
    hsa-miR-219a-5p<br>
    hsa-miR-219b-3p<br>
    hsa-miR-219b-5p<br>
    hsa-miR-221-3p<br>
    hsa-miR-221-5p<br>
    hsa-miR-222-3p<br>
    hsa-miR-222-5p<br>
    hsa-miR-223-3p<br>
    hsa-miR-223-5p<br>
    hsa-miR-22-3p<br>
    hsa-miR-224-3p<br>
    hsa-miR-224-5p<br>
    hsa-miR-22-5p<br>
    hsa-miR-2276-3p<br>
    hsa-miR-2276-5p<br>
    hsa-miR-2277-3p<br>
    hsa-miR-2277-5p<br>
    hsa-miR-2278<br>
    hsa-miR-2355-3p<br>
    hsa-miR-2355-5p<br>
    hsa-miR-2392<br>
    hsa-miR-23a-3p<br>
    hsa-miR-23a-5p<br>
    hsa-miR-23b-3p<br>
    hsa-miR-23b-5p<br>
    hsa-miR-23c<br>
    hsa-miR-24-1-5p<br>
    hsa-miR-24-2-5p<br>
    hsa-miR-24-3p<br>
    hsa-miR-2467-3p<br>
    hsa-miR-2467-5p<br>
    hsa-miR-25-3p<br>
    hsa-miR-25-5p<br>
    hsa-miR-2681-3p<br>
    hsa-miR-2681-5p<br>
    hsa-miR-2682-3p<br>
    hsa-miR-2682-5p<br>
    hsa-miR-26a-1-3p<br>
    hsa-miR-26a-2-3p<br>
    hsa-miR-26a-5p<br>
    hsa-miR-26b-3p<br>
    hsa-miR-26b-5p<br>
    hsa-miR-27a-3p<br>
    hsa-miR-27a-5p<br>
    hsa-miR-27b-3p<br>
    hsa-miR-27b-5p<br>
    hsa-miR-28-3p<br>
    hsa-miR-28-5p<br>
    hsa-miR-2861<br>
    hsa-miR-2909<br>
    hsa-miR-296-3p<br>
    hsa-miR-296-5p<br>
    hsa-miR-297<br>
    hsa-miR-298<br>
    hsa-miR-299-3p<br>
    hsa-miR-299-5p<br>
    hsa-miR-29a-3p<br>
    hsa-miR-29a-5p<br>
    hsa-miR-29b-1-5p<br>
    hsa-miR-29b-2-5p<br>
    hsa-miR-29b-3p<br>
    hsa-miR-29c-3p<br>
    hsa-miR-29c-5p<br>
    hsa-miR-300<br>
    hsa-miR-301a-3p<br>
    hsa-miR-301a-5p<br>
    hsa-miR-301b-3p<br>
    hsa-miR-301b-5p<br>
    hsa-miR-302a-3p<br>
    hsa-miR-302a-5p<br>
    hsa-miR-302b-3p<br>
    hsa-miR-302b-5p<br>
    hsa-miR-302c-3p<br>
    hsa-miR-302c-5p<br>
    hsa-miR-302d-3p<br>
    hsa-miR-302d-5p<br>
    hsa-miR-302e<br>
    hsa-miR-302f<br>
    hsa-miR-3064-3p<br>
    hsa-miR-3064-5p<br>
    hsa-miR-3065-3p<br>
    hsa-miR-3065-5p<br>
    hsa-miR-3074-3p<br>
    hsa-miR-3074-5p<br>
    hsa-miR-30a-3p<br>
    hsa-miR-30a-5p<br>
    hsa-miR-30b-3p<br>
    hsa-miR-30b-5p<br>
    hsa-miR-30c-1-3p<br>
    hsa-miR-30c-2-3p<br>
    hsa-miR-30c-5p<br>
    hsa-miR-30d-3p<br>
    hsa-miR-30d-5p<br>
    hsa-miR-30e-3p<br>
    hsa-miR-30e-5p<br>
    hsa-miR-3115<br>
    hsa-miR-3116<br>
    hsa-miR-3117-3p<br>
    hsa-miR-3117-5p<br>
    hsa-miR-3118<br>
    hsa-miR-3119<br>
    hsa-miR-3120-3p<br>
    hsa-miR-3120-5p<br>
    hsa-miR-3121-3p<br>
    hsa-miR-3121-5p<br>
    hsa-miR-3122<br>
    hsa-miR-3123<br>
    hsa-miR-3124-3p<br>
    hsa-miR-3124-5p<br>
    hsa-miR-3125<br>
    hsa-miR-3126-3p<br>
    hsa-miR-3126-5p<br>
    hsa-miR-3127-3p<br>
    hsa-miR-3127-5p<br>
    hsa-miR-3128<br>
    hsa-miR-3129-3p<br>
    hsa-miR-3129-5p<br>
    hsa-miR-3130-3p<br>
    hsa-miR-3130-5p<br>
    hsa-miR-3131<br>
    hsa-miR-3132<br>
    hsa-miR-3133<br>
    hsa-miR-3134<br>
    hsa-miR-3135a<br>
    hsa-miR-3135b<br>
    hsa-miR-3136-3p<br>
    hsa-miR-3136-5p<br>
    hsa-miR-3137<br>
    hsa-miR-3138<br>
    hsa-miR-3139<br>
    hsa-miR-31-3p<br>
    hsa-miR-3140-3p<br>
    hsa-miR-3140-5p<br>
    hsa-miR-3141<br>
    hsa-miR-3142<br>
    hsa-miR-3143<br>
    hsa-miR-3144-3p<br>
    hsa-miR-3144-5p<br>
    hsa-miR-3145-3p<br>
    hsa-miR-3145-5p<br>
    hsa-miR-3146<br>
    hsa-miR-3147<br>
    hsa-miR-3148<br>
    hsa-miR-3149<br>
    hsa-miR-3150a-3p<br>
    hsa-miR-3150a-5p<br>
    hsa-miR-3150b-3p<br>
    hsa-miR-3150b-5p<br>
    hsa-miR-3151-3p<br>
    hsa-miR-3151-5p<br>
    hsa-miR-3152-3p<br>
    hsa-miR-3152-5p<br>
    hsa-miR-3153<br>
    hsa-miR-3154<br>
    hsa-miR-3155a<br>
    hsa-miR-3155b<br>
    hsa-miR-3156-3p<br>
    hsa-miR-3156-5p<br>
    hsa-miR-3157-3p<br>
    hsa-miR-3157-5p<br>
    hsa-miR-3158-3p<br>
    hsa-miR-3158-5p<br>
    hsa-miR-3159<br>
    hsa-miR-31-5p<br>
    hsa-miR-3160-3p<br>
    hsa-miR-3160-5p<br>
    hsa-miR-3161<br>
    hsa-miR-3162-3p<br>
    hsa-miR-3162-5p<br>
    hsa-miR-3163<br>
    hsa-miR-3164<br>
    hsa-miR-3165<br>
    hsa-miR-3166<br>
    hsa-miR-3167<br>
    hsa-miR-3168<br>
    hsa-miR-3169<br>
    hsa-miR-3170<br>
    hsa-miR-3171<br>
    hsa-miR-3173-3p<br>
    hsa-miR-3173-5p<br>
    hsa-miR-3174<br>
    hsa-miR-3175<br>
    hsa-miR-3176<br>
    hsa-miR-3177-3p<br>
    hsa-miR-3177-5p<br>
    hsa-miR-3178<br>
    hsa-miR-3179<br>
    hsa-miR-3180<br>
    hsa-miR-3180-3p<br>
    hsa-miR-3180-5p<br>
    hsa-miR-3181<br>
    hsa-miR-3182<br>
    hsa-miR-3183<br>
    hsa-miR-3184-3p<br>
    hsa-miR-3184-5p<br>
    hsa-miR-3185<br>
    hsa-miR-3186-3p<br>
    hsa-miR-3186-5p<br>
    hsa-miR-3187-3p<br>
    hsa-miR-3187-5p<br>
    hsa-miR-3188<br>
    hsa-miR-3189-3p<br>
    hsa-miR-3189-5p<br>
    hsa-miR-3190-3p<br>
    hsa-miR-3190-5p<br>
    hsa-miR-3191-3p<br>
    hsa-miR-3191-5p<br>
    hsa-miR-3192-3p<br>
    hsa-miR-3192-5p<br>
    hsa-miR-3193<br>
    hsa-miR-3194-3p<br>
    hsa-miR-3194-5p<br>
    hsa-miR-3195<br>
    hsa-miR-3196<br>
    hsa-miR-3197<br>
    hsa-miR-3198<br>
    hsa-miR-3199<br>
    hsa-miR-3200-3p<br>
    hsa-miR-3200-5p<br>
    hsa-miR-3201<br>
    hsa-miR-3202<br>
    hsa-miR-320a<br>
    hsa-miR-320b<br>
    hsa-miR-320c<br>
    hsa-miR-320d<br>
    hsa-miR-320e<br>
    hsa-miR-323a-3p<br>
    hsa-miR-323a-5p<br>
    hsa-miR-323b-3p<br>
    hsa-miR-323b-5p<br>
    hsa-miR-32-3p<br>
    hsa-miR-324-3p<br>
    hsa-miR-324-5p<br>
    hsa-miR-325<br>
    hsa-miR-32-5p<br>
    hsa-miR-326<br>
    hsa-miR-328-3p<br>
    hsa-miR-328-5p<br>
    hsa-miR-329-3p<br>
    hsa-miR-329-5p<br>
    hsa-miR-330-3p<br>
    hsa-miR-330-5p<br>
    hsa-miR-331-3p<br>
    hsa-miR-331-5p<br>
    hsa-miR-335-3p<br>
    hsa-miR-335-5p<br>
    hsa-miR-337-3p<br>
    hsa-miR-337-5p<br>
    hsa-miR-338-3p<br>
    hsa-miR-338-5p<br>
    hsa-miR-339-3p<br>
    hsa-miR-339-5p<br>
    hsa-miR-33a-3p<br>
    hsa-miR-33a-5p<br>
    hsa-miR-33b-3p<br>
    hsa-miR-33b-5p<br>
    hsa-miR-340-3p<br>
    hsa-miR-340-5p<br>
    hsa-miR-342-3p<br>
    hsa-miR-342-5p<br>
    hsa-miR-345-3p<br>
    hsa-miR-345-5p<br>
    hsa-miR-346<br>
    hsa-miR-34a-3p<br>
    hsa-miR-34a-5p<br>
    hsa-miR-34b-3p<br>
    hsa-miR-34b-5p<br>
    hsa-miR-34c-3p<br>
    hsa-miR-34c-5p<br>
    hsa-miR-3529-3p<br>
    hsa-miR-3529-5p<br>
    hsa-miR-3591-3p<br>
    hsa-miR-3591-5p<br>
    hsa-miR-3605-3p<br>
    hsa-miR-3605-5p<br>
    hsa-miR-3606-3p<br>
    hsa-miR-3606-5p<br>
    hsa-miR-3607-3p<br>
    hsa-miR-3607-5p<br>
    hsa-miR-3609<br>
    hsa-miR-3610<br>
    hsa-miR-3611<br>
    hsa-miR-3612<br>
    hsa-miR-3613-3p<br>
    hsa-miR-3613-5p<br>
    hsa-miR-361-3p<br>
    hsa-miR-3614-3p<br>
    hsa-miR-3614-5p<br>
    hsa-miR-3615<br>
    hsa-miR-361-5p<br>
    hsa-miR-3616-3p<br>
    hsa-miR-3616-5p<br>
    hsa-miR-3617-3p<br>
    hsa-miR-3617-5p<br>
    hsa-miR-3618<br>
    hsa-miR-3619-3p<br>
    hsa-miR-3619-5p<br>
    hsa-miR-3620-3p<br>
    hsa-miR-3620-5p<br>
    hsa-miR-3621<br>
    hsa-miR-3622a-3p<br>
    hsa-miR-3622a-5p<br>
    hsa-miR-3622b-3p<br>
    hsa-miR-3622b-5p<br>
    hsa-miR-362-3p<br>
    hsa-miR-362-5p<br>
    hsa-miR-363-3p<br>
    hsa-miR-363-5p<br>
    hsa-miR-3646<br>
    hsa-miR-3648<br>
    hsa-miR-3649<br>
    hsa-miR-3650<br>
    hsa-miR-3651<br>
    hsa-miR-3652<br>
    hsa-miR-3653-3p<br>
    hsa-miR-3653-5p<br>
    hsa-miR-3654<br>
    hsa-miR-3655<br>
    hsa-miR-3656<br>
    hsa-miR-3657<br>
    hsa-miR-3658<br>
    hsa-miR-3659<br>
    hsa-miR-365a-3p<br>
    hsa-miR-365a-5p<br>
    hsa-miR-365b-3p<br>
    hsa-miR-365b-5p<br>
    hsa-miR-3660<br>
    hsa-miR-3661<br>
    hsa-miR-3662<br>
    hsa-miR-3663-3p<br>
    hsa-miR-3663-5p<br>
    hsa-miR-3664-3p<br>
    hsa-miR-3664-5p<br>
    hsa-miR-3665<br>
    hsa-miR-3666<br>
    hsa-miR-3667-3p<br>
    hsa-miR-3667-5p<br>
    hsa-miR-3668<br>
    hsa-miR-3670<br>
    hsa-miR-3671<br>
    hsa-miR-3672<br>
    hsa-miR-367-3p<br>
    hsa-miR-3674<br>
    hsa-miR-3675-3p<br>
    hsa-miR-3675-5p<br>
    hsa-miR-367-5p<br>
    hsa-miR-3677-3p<br>
    hsa-miR-3677-5p<br>
    hsa-miR-3678-3p<br>
    hsa-miR-3678-5p<br>
    hsa-miR-3679-3p<br>
    hsa-miR-3679-5p<br>
    hsa-miR-3680-3p<br>
    hsa-miR-3680-5p<br>
    hsa-miR-3681-3p<br>
    hsa-miR-3681-5p<br>
    hsa-miR-3682-3p<br>
    hsa-miR-3682-5p<br>
    hsa-miR-3683<br>
    hsa-miR-3684<br>
    hsa-miR-3685<br>
    hsa-miR-3686<br>
    hsa-miR-3687<br>
    hsa-miR-3688-3p<br>
    hsa-miR-3688-5p<br>
    hsa-miR-3689a-3p<br>
    hsa-miR-3689a-5p<br>
    hsa-miR-3689b-3p<br>
    hsa-miR-3689b-5p<br>
    hsa-miR-3689c<br>
    hsa-miR-3689d<br>
    hsa-miR-3689e<br>
    hsa-miR-3689f<br>
    hsa-miR-3690<br>
    hsa-miR-3691-3p<br>
    hsa-miR-3691-5p<br>
    hsa-miR-3692-3p<br>
    hsa-miR-3692-5p<br>
    hsa-miR-369-3p<br>
    hsa-miR-369-5p<br>
    hsa-miR-370-3p<br>
    hsa-miR-370-5p<br>
    hsa-miR-3713<br>
    hsa-miR-3714<br>
    hsa-miR-371a-3p<br>
    hsa-miR-371a-5p<br>
    hsa-miR-371b-3p<br>
    hsa-miR-371b-5p<br>
    hsa-miR-372-3p<br>
    hsa-miR-372-5p<br>
    hsa-miR-373-3p<br>
    hsa-miR-373-5p<br>
    hsa-miR-374a-3p<br>
    hsa-miR-374a-5p<br>
    hsa-miR-374b-3p<br>
    hsa-miR-374b-5p<br>
    hsa-miR-374c-3p<br>
    hsa-miR-374c-5p<br>
    hsa-miR-375<br>
    hsa-miR-376a-2-5p<br>
    hsa-miR-376a-3p<br>
    hsa-miR-376a-5p<br>
    hsa-miR-376b-3p<br>
    hsa-miR-376b-5p<br>
    hsa-miR-376c-3p<br>
    hsa-miR-376c-5p<br>
    hsa-miR-377-3p<br>
    hsa-miR-377-5p<br>
    hsa-miR-378a-3p<br>
    hsa-miR-378a-5p<br>
    hsa-miR-378b<br>
    hsa-miR-378c<br>
    hsa-miR-378d<br>
    hsa-miR-378e<br>
    hsa-miR-378f<br>
    hsa-miR-378g<br>
    hsa-miR-378h<br>
    hsa-miR-378i<br>
    hsa-miR-378j<br>
    hsa-miR-379-3p<br>
    hsa-miR-379-5p<br>
    hsa-miR-380-3p<br>
    hsa-miR-380-5p<br>
    hsa-miR-381-3p<br>
    hsa-miR-381-5p<br>
    hsa-miR-382-3p<br>
    hsa-miR-382-5p<br>
    hsa-miR-383-3p<br>
    hsa-miR-383-5p<br>
    hsa-miR-384<br>
    hsa-miR-3907<br>
    hsa-miR-3908<br>
    hsa-miR-3909<br>
    hsa-miR-3910<br>
    hsa-miR-3911<br>
    hsa-miR-3912-3p<br>
    hsa-miR-3912-5p<br>
    hsa-miR-3913-3p<br>
    hsa-miR-3913-5p<br>
    hsa-miR-3914<br>
    hsa-miR-3915<br>
    hsa-miR-3916<br>
    hsa-miR-3917<br>
    hsa-miR-3918<br>
    hsa-miR-3919<br>
    hsa-miR-3920<br>
    hsa-miR-3921<br>
    hsa-miR-3922-3p<br>
    hsa-miR-3922-5p<br>
    hsa-miR-3923<br>
    hsa-miR-3924<br>
    hsa-miR-3925-3p<br>
    hsa-miR-3925-5p<br>
    hsa-miR-3926<br>
    hsa-miR-3927-3p<br>
    hsa-miR-3927-5p<br>
    hsa-miR-3928-3p<br>
    hsa-miR-3928-5p<br>
    hsa-miR-3929<br>
    hsa-miR-3934-3p<br>
    hsa-miR-3934-5p<br>
    hsa-miR-3935<br>
    hsa-miR-3936<br>
    hsa-miR-3937<br>
    hsa-miR-3938<br>
    hsa-miR-3939<br>
    hsa-miR-3940-3p<br>
    hsa-miR-3940-5p<br>
    hsa-miR-3941<br>
    hsa-miR-3942-3p<br>
    hsa-miR-3942-5p<br>
    hsa-miR-3943<br>
    hsa-miR-3944-3p<br>
    hsa-miR-3944-5p<br>
    hsa-miR-3945<br>
    hsa-miR-3960<br>
    hsa-miR-3972<br>
    hsa-miR-3973<br>
    hsa-miR-3974<br>
    hsa-miR-3975<br>
    hsa-miR-3976<br>
    hsa-miR-3977<br>
    hsa-miR-3978<br>
    hsa-miR-409-3p<br>
    hsa-miR-409-5p<br>
    hsa-miR-410-3p<br>
    hsa-miR-410-5p<br>
    hsa-miR-411-3p<br>
    hsa-miR-411-5p<br>
    hsa-miR-412-3p<br>
    hsa-miR-412-5p<br>
    hsa-miR-421<br>
    hsa-miR-422a<br>
    hsa-miR-423-3p<br>
    hsa-miR-423-5p<br>
    hsa-miR-424-3p<br>
    hsa-miR-424-5p<br>
    hsa-miR-4251<br>
    hsa-miR-4252<br>
    hsa-miR-4253<br>
    hsa-miR-425-3p<br>
    hsa-miR-4254<br>
    hsa-miR-4255<br>
    hsa-miR-425-5p<br>
    hsa-miR-4256<br>
    hsa-miR-4257<br>
    hsa-miR-4258<br>
    hsa-miR-4259<br>
    hsa-miR-4260<br>
    hsa-miR-4261<br>
    hsa-miR-4262<br>
    hsa-miR-4263<br>
    hsa-miR-4264<br>
    hsa-miR-4265<br>
    hsa-miR-4266<br>
    hsa-miR-4267<br>
    hsa-miR-4268<br>
    hsa-miR-4269<br>
    hsa-miR-4270<br>
    hsa-miR-4271<br>
    hsa-miR-4272<br>
    hsa-miR-4273<br>
    hsa-miR-4274<br>
    hsa-miR-4275<br>
    hsa-miR-4276<br>
    hsa-miR-4277<br>
    hsa-miR-4278<br>
    hsa-miR-4279<br>
    hsa-miR-4280<br>
    hsa-miR-4281<br>
    hsa-miR-4282<br>
    hsa-miR-4283<br>
    hsa-miR-4284<br>
    hsa-miR-4285<br>
    hsa-miR-4286<br>
    hsa-miR-4287<br>
    hsa-miR-4288<br>
    hsa-miR-4289<br>
    hsa-miR-429<br>
    hsa-miR-4290<br>
    hsa-miR-4291<br>
    hsa-miR-4292<br>
    hsa-miR-4293<br>
    hsa-miR-4294<br>
    hsa-miR-4295<br>
    hsa-miR-4296<br>
    hsa-miR-4297<br>
    hsa-miR-4298<br>
    hsa-miR-4299<br>
    hsa-miR-4300<br>
    hsa-miR-4301<br>
    hsa-miR-4302<br>
    hsa-miR-4303<br>
    hsa-miR-4304<br>
    hsa-miR-4305<br>
    hsa-miR-4306<br>
    hsa-miR-4307<br>
    hsa-miR-4308<br>
    hsa-miR-4309<br>
    hsa-miR-4310<br>
    hsa-miR-4311<br>
    hsa-miR-4312<br>
    hsa-miR-4313<br>
    hsa-miR-431-3p<br>
    hsa-miR-4314<br>
    hsa-miR-4315<br>
    hsa-miR-431-5p<br>
    hsa-miR-4316<br>
    hsa-miR-4317<br>
    hsa-miR-4318<br>
    hsa-miR-4319<br>
    hsa-miR-4320<br>
    hsa-miR-4321<br>
    hsa-miR-4322<br>
    hsa-miR-4323<br>
    hsa-miR-432-3p<br>
    hsa-miR-4324<br>
    hsa-miR-4325<br>
    hsa-miR-432-5p<br>
    hsa-miR-4326<br>
    hsa-miR-4327<br>
    hsa-miR-4328<br>
    hsa-miR-4329<br>
    hsa-miR-4330<br>
    hsa-miR-433-3p<br>
    hsa-miR-433-5p<br>
    hsa-miR-4417<br>
    hsa-miR-4418<br>
    hsa-miR-4419a<br>
    hsa-miR-4419b<br>
    hsa-miR-4420<br>
    hsa-miR-4421<br>
    hsa-miR-4422<br>
    hsa-miR-4423-3p<br>
    hsa-miR-4423-5p<br>
    hsa-miR-4424<br>
    hsa-miR-4425<br>
    hsa-miR-4426<br>
    hsa-miR-4427<br>
    hsa-miR-4428<br>
    hsa-miR-4429<br>
    hsa-miR-4430<br>
    hsa-miR-4431<br>
    hsa-miR-4432<br>
    hsa-miR-4433a-3p<br>
    hsa-miR-4433a-5p<br>
    hsa-miR-4433b-3p<br>
    hsa-miR-4433b-5p<br>
    hsa-miR-4434<br>
    hsa-miR-4435<br>
    hsa-miR-4436a<br>
    hsa-miR-4436b-3p<br>
    hsa-miR-4436b-5p<br>
    hsa-miR-4437<br>
    hsa-miR-4438<br>
    hsa-miR-4439<br>
    hsa-miR-4440<br>
    hsa-miR-4441<br>
    hsa-miR-4442<br>
    hsa-miR-4443<br>
    hsa-miR-4444<br>
    hsa-miR-4445-3p<br>
    hsa-miR-4445-5p<br>
    hsa-miR-4446-3p<br>
    hsa-miR-4446-5p<br>
    hsa-miR-4447<br>
    hsa-miR-4448<br>
    hsa-miR-4449<br>
    hsa-miR-4450<br>
    hsa-miR-4451<br>
    hsa-miR-4452<br>
    hsa-miR-4453<br>
    hsa-miR-4454<br>
    hsa-miR-4455<br>
    hsa-miR-4456<br>
    hsa-miR-4457<br>
    hsa-miR-4458<br>
    hsa-miR-4459<br>
    hsa-miR-4460<br>
    hsa-miR-4461<br>
    hsa-miR-4462<br>
    hsa-miR-4463<br>
    hsa-miR-4464<br>
    hsa-miR-4465<br>
    hsa-miR-4466<br>
    hsa-miR-4467<br>
    hsa-miR-4468<br>
    hsa-miR-4469<br>
    hsa-miR-4470<br>
    hsa-miR-4471<br>
    hsa-miR-4472<br>
    hsa-miR-4473<br>
    hsa-miR-4474-3p<br>
    hsa-miR-4474-5p<br>
    hsa-miR-4475<br>
    hsa-miR-4476<br>
    hsa-miR-4477a<br>
    hsa-miR-4477b<br>
    hsa-miR-4478<br>
    hsa-miR-4479<br>
    hsa-miR-448<br>
    hsa-miR-4480<br>
    hsa-miR-4481<br>
    hsa-miR-4482-3p<br>
    hsa-miR-4482-5p<br>
    hsa-miR-4483<br>
    hsa-miR-4484<br>
    hsa-miR-4485-3p<br>
    hsa-miR-4485-5p<br>
    hsa-miR-4486<br>
    hsa-miR-4487<br>
    hsa-miR-4488<br>
    hsa-miR-4489<br>
    hsa-miR-4490<br>
    hsa-miR-4491<br>
    hsa-miR-4492<br>
    hsa-miR-4493<br>
    hsa-miR-4494<br>
    hsa-miR-4495<br>
    hsa-miR-4496<br>
    hsa-miR-4497<br>
    hsa-miR-4498<br>
    hsa-miR-4499<br>
    hsa-miR-449a<br>
    hsa-miR-449b-3p<br>
    hsa-miR-449b-5p<br>
    hsa-miR-449c-3p<br>
    hsa-miR-449c-5p<br>
    hsa-miR-4500<br>
    hsa-miR-4501<br>
    hsa-miR-4502<br>
    hsa-miR-4503<br>
    hsa-miR-4504<br>
    hsa-miR-4505<br>
    hsa-miR-4506<br>
    hsa-miR-4507<br>
    hsa-miR-4508<br>
    hsa-miR-4509<br>
    hsa-miR-450a-1-3p<br>
    hsa-miR-450a-2-3p<br>
    hsa-miR-450a-5p<br>
    hsa-miR-450b-3p<br>
    hsa-miR-450b-5p<br>
    hsa-miR-4510<br>
    hsa-miR-4511<br>
    hsa-miR-4512<br>
    hsa-miR-4513<br>
    hsa-miR-4514<br>
    hsa-miR-4515<br>
    hsa-miR-4516<br>
    hsa-miR-4517<br>
    hsa-miR-4518<br>
    hsa-miR-4519<br>
    hsa-miR-451a<br>
    hsa-miR-451b<br>
    hsa-miR-4520-2-3p<br>
    hsa-miR-4520-3p<br>
    hsa-miR-4520-5p<br>
    hsa-miR-4521<br>
    hsa-miR-4522<br>
    hsa-miR-4523<br>
    hsa-miR-452-3p<br>
    hsa-miR-4524a-3p<br>
    hsa-miR-4524a-5p<br>
    hsa-miR-4524b-3p<br>
    hsa-miR-4524b-5p<br>
    hsa-miR-4525<br>
    hsa-miR-452-5p<br>
    hsa-miR-4526<br>
    hsa-miR-4527<br>
    hsa-miR-4528<br>
    hsa-miR-4529-3p<br>
    hsa-miR-4529-5p<br>
    hsa-miR-4530<br>
    hsa-miR-4531<br>
    hsa-miR-4532<br>
    hsa-miR-4533<br>
    hsa-miR-4534<br>
    hsa-miR-4535<br>
    hsa-miR-4536-3p<br>
    hsa-miR-4536-5p<br>
    hsa-miR-4537<br>
    hsa-miR-4538<br>
    hsa-miR-4539<br>
    hsa-miR-4540<br>
    hsa-miR-454-3p<br>
    hsa-miR-454-5p<br>
    hsa-miR-455-3p<br>
    hsa-miR-455-5p<br>
    hsa-miR-4632-3p<br>
    hsa-miR-4632-5p<br>
    hsa-miR-4633-3p<br>
    hsa-miR-4633-5p<br>
    hsa-miR-4634<br>
    hsa-miR-4635<br>
    hsa-miR-4636<br>
    hsa-miR-4637<br>
    hsa-miR-4638-3p<br>
    hsa-miR-4638-5p<br>
    hsa-miR-4639-3p<br>
    hsa-miR-4639-5p<br>
    hsa-miR-4640-3p<br>
    hsa-miR-4640-5p<br>
    hsa-miR-4641<br>
    hsa-miR-4642<br>
    hsa-miR-4643<br>
    hsa-miR-4644<br>
    hsa-miR-4645-3p<br>
    hsa-miR-4645-5p<br>
    hsa-miR-4646-3p<br>
    hsa-miR-4646-5p<br>
    hsa-miR-4647<br>
    hsa-miR-4648<br>
    hsa-miR-4649-3p<br>
    hsa-miR-4649-5p<br>
    hsa-miR-4650-3p<br>
    hsa-miR-4650-5p<br>
    hsa-miR-4651<br>
    hsa-miR-4652-3p<br>
    hsa-miR-4652-5p<br>
    hsa-miR-4653-3p<br>
    hsa-miR-4653-5p<br>
    hsa-miR-4654<br>
    hsa-miR-4655-3p<br>
    hsa-miR-4655-5p<br>
    hsa-miR-4656<br>
    hsa-miR-4657<br>
    hsa-miR-4658<br>
    hsa-miR-4659a-3p<br>
    hsa-miR-4659a-5p<br>
    hsa-miR-4659b-3p<br>
    hsa-miR-4659b-5p<br>
    hsa-miR-466<br>
    hsa-miR-4660<br>
    hsa-miR-4661-3p<br>
    hsa-miR-4661-5p<br>
    hsa-miR-4662a-3p<br>
    hsa-miR-4662a-5p<br>
    hsa-miR-4662b<br>
    hsa-miR-4663<br>
    hsa-miR-4664-3p<br>
    hsa-miR-4664-5p<br>
    hsa-miR-4665-3p<br>
    hsa-miR-4665-5p<br>
    hsa-miR-4666a-3p<br>
    hsa-miR-4666a-5p<br>
    hsa-miR-4666b<br>
    hsa-miR-4667-3p<br>
    hsa-miR-4667-5p<br>
    hsa-miR-4668-3p<br>
    hsa-miR-4668-5p<br>
    hsa-miR-4669<br>
    hsa-miR-4670-3p<br>
    hsa-miR-4670-5p<br>
    hsa-miR-4671-3p<br>
    hsa-miR-4671-5p<br>
    hsa-miR-4672<br>
    hsa-miR-4673<br>
    hsa-miR-4674<br>
    hsa-miR-4675<br>
    hsa-miR-4676-3p<br>
    hsa-miR-4676-5p<br>
    hsa-miR-4677-3p<br>
    hsa-miR-4677-5p<br>
    hsa-miR-4678<br>
    hsa-miR-4679<br>
    hsa-miR-4680-3p<br>
    hsa-miR-4680-5p<br>
    hsa-miR-4681<br>
    hsa-miR-4682<br>
    hsa-miR-4683<br>
    hsa-miR-4684-3p<br>
    hsa-miR-4684-5p<br>
    hsa-miR-4685-3p<br>
    hsa-miR-4685-5p<br>
    hsa-miR-4686<br>
    hsa-miR-4687-3p<br>
    hsa-miR-4687-5p<br>
    hsa-miR-4688<br>
    hsa-miR-4689<br>
    hsa-miR-4690-3p<br>
    hsa-miR-4690-5p<br>
    hsa-miR-4691-3p<br>
    hsa-miR-4691-5p<br>
    hsa-miR-4692<br>
    hsa-miR-4693-3p<br>
    hsa-miR-4693-5p<br>
    hsa-miR-4694-3p<br>
    hsa-miR-4694-5p<br>
    hsa-miR-4695-3p<br>
    hsa-miR-4695-5p<br>
    hsa-miR-4696<br>
    hsa-miR-4697-3p<br>
    hsa-miR-4697-5p<br>
    hsa-miR-4698<br>
    hsa-miR-4699-3p<br>
    hsa-miR-4699-5p<br>
    hsa-miR-4700-3p<br>
    hsa-miR-4700-5p<br>
    hsa-miR-4701-3p<br>
    hsa-miR-4701-5p<br>
    hsa-miR-4703-3p<br>
    hsa-miR-4703-5p<br>
    hsa-miR-4704-3p<br>
    hsa-miR-4704-5p<br>
    hsa-miR-4705<br>
    hsa-miR-4706<br>
    hsa-miR-4707-3p<br>
    hsa-miR-4707-5p<br>
    hsa-miR-4708-3p<br>
    hsa-miR-4708-5p<br>
    hsa-miR-4709-3p<br>
    hsa-miR-4709-5p<br>
    hsa-miR-4710<br>
    hsa-miR-4711-3p<br>
    hsa-miR-4711-5p<br>
    hsa-miR-4712-3p<br>
    hsa-miR-4712-5p<br>
    hsa-miR-4713-3p<br>
    hsa-miR-4713-5p<br>
    hsa-miR-4714-3p<br>
    hsa-miR-4714-5p<br>
    hsa-miR-4715-3p<br>
    hsa-miR-4715-5p<br>
    hsa-miR-4716-3p<br>
    hsa-miR-4716-5p<br>
    hsa-miR-4717-3p<br>
    hsa-miR-4717-5p<br>
    hsa-miR-4718<br>
    hsa-miR-4719<br>
    hsa-miR-4720-3p<br>
    hsa-miR-4720-5p<br>
    hsa-miR-4721<br>
    hsa-miR-4722-3p<br>
    hsa-miR-4722-5p<br>
    hsa-miR-4723-3p<br>
    hsa-miR-4723-5p<br>
    hsa-miR-4724-3p<br>
    hsa-miR-4724-5p<br>
    hsa-miR-4725-3p<br>
    hsa-miR-4725-5p<br>
    hsa-miR-4726-3p<br>
    hsa-miR-4726-5p<br>
    hsa-miR-4727-3p<br>
    hsa-miR-4727-5p<br>
    hsa-miR-4728-3p<br>
    hsa-miR-4728-5p<br>
    hsa-miR-4729<br>
    hsa-miR-4730<br>
    hsa-miR-4731-3p<br>
    hsa-miR-4731-5p<br>
    hsa-miR-4732-3p<br>
    hsa-miR-4732-5p<br>
    hsa-miR-4733-3p<br>
    hsa-miR-4733-5p<br>
    hsa-miR-4734<br>
    hsa-miR-4735-3p<br>
    hsa-miR-4735-5p<br>
    hsa-miR-4736<br>
    hsa-miR-4737<br>
    hsa-miR-4738-3p<br>
    hsa-miR-4738-5p<br>
    hsa-miR-4739<br>
    hsa-miR-4740-3p<br>
    hsa-miR-4740-5p<br>
    hsa-miR-4741<br>
    hsa-miR-4742-3p<br>
    hsa-miR-4742-5p<br>
    hsa-miR-4743-3p<br>
    hsa-miR-4743-5p<br>
    hsa-miR-4744<br>
    hsa-miR-4745-3p<br>
    hsa-miR-4745-5p<br>
    hsa-miR-4746-3p<br>
    hsa-miR-4746-5p<br>
    hsa-miR-4747-3p<br>
    hsa-miR-4747-5p<br>
    hsa-miR-4748<br>
    hsa-miR-4749-3p<br>
    hsa-miR-4749-5p<br>
    hsa-miR-4750-3p<br>
    hsa-miR-4750-5p<br>
    hsa-miR-4751<br>
    hsa-miR-4752<br>
    hsa-miR-4753-3p<br>
    hsa-miR-4753-5p<br>
    hsa-miR-4754<br>
    hsa-miR-4755-3p<br>
    hsa-miR-4755-5p<br>
    hsa-miR-4756-3p<br>
    hsa-miR-4756-5p<br>
    hsa-miR-4757-3p<br>
    hsa-miR-4757-5p<br>
    hsa-miR-4758-3p<br>
    hsa-miR-4758-5p<br>
    hsa-miR-4759<br>
    hsa-miR-4760-3p<br>
    hsa-miR-4760-5p<br>
    hsa-miR-4761-3p<br>
    hsa-miR-4761-5p<br>
    hsa-miR-4762-3p<br>
    hsa-miR-4762-5p<br>
    hsa-miR-4763-3p<br>
    hsa-miR-4763-5p<br>
    hsa-miR-4764-3p<br>
    hsa-miR-4764-5p<br>
    hsa-miR-4765<br>
    hsa-miR-4766-3p<br>
    hsa-miR-4766-5p<br>
    hsa-miR-4767<br>
    hsa-miR-4768-3p<br>
    hsa-miR-4768-5p<br>
    hsa-miR-4769-3p<br>
    hsa-miR-4769-5p<br>
    hsa-miR-4770<br>
    hsa-miR-4771<br>
    hsa-miR-4772-3p<br>
    hsa-miR-4772-5p<br>
    hsa-miR-4773<br>
    hsa-miR-4774-3p<br>
    hsa-miR-4774-5p<br>
    hsa-miR-4775<br>
    hsa-miR-4776-3p<br>
    hsa-miR-4776-5p<br>
    hsa-miR-4777-3p<br>
    hsa-miR-4777-5p<br>
    hsa-miR-4778-3p<br>
    hsa-miR-4778-5p<br>
    hsa-miR-4779<br>
    hsa-miR-4780<br>
    hsa-miR-4781-3p<br>
    hsa-miR-4781-5p<br>
    hsa-miR-4782-3p<br>
    hsa-miR-4782-5p<br>
    hsa-miR-4783-3p<br>
    hsa-miR-4783-5p<br>
    hsa-miR-4784<br>
    hsa-miR-4785<br>
    hsa-miR-4786-3p<br>
    hsa-miR-4786-5p<br>
    hsa-miR-4787-3p<br>
    hsa-miR-4787-5p<br>
    hsa-miR-4788<br>
    hsa-miR-4789-3p<br>
    hsa-miR-4789-5p<br>
    hsa-miR-4790-3p<br>
    hsa-miR-4790-5p<br>
    hsa-miR-4791<br>
    hsa-miR-4792<br>
    hsa-miR-4793-3p<br>
    hsa-miR-4793-5p<br>
    hsa-miR-4794<br>
    hsa-miR-4795-3p<br>
    hsa-miR-4795-5p<br>
    hsa-miR-4796-3p<br>
    hsa-miR-4796-5p<br>
    hsa-miR-4797-3p<br>
    hsa-miR-4797-5p<br>
    hsa-miR-4798-3p<br>
    hsa-miR-4798-5p<br>
    hsa-miR-4799-3p<br>
    hsa-miR-4799-5p<br>
    hsa-miR-4800-3p<br>
    hsa-miR-4800-5p<br>
    hsa-miR-4801<br>
    hsa-miR-4802-3p<br>
    hsa-miR-4802-5p<br>
    hsa-miR-4803<br>
    hsa-miR-4804-3p<br>
    hsa-miR-4804-5p<br>
    hsa-miR-483-3p<br>
    hsa-miR-483-5p<br>
    hsa-miR-484<br>
    hsa-miR-485-3p<br>
    hsa-miR-485-5p<br>
    hsa-miR-486-3p<br>
    hsa-miR-486-5p<br>
    hsa-miR-487a-3p<br>
    hsa-miR-487a-5p<br>
    hsa-miR-487b-3p<br>
    hsa-miR-487b-5p<br>
    hsa-miR-488-3p<br>
    hsa-miR-488-5p<br>
    hsa-miR-489-3p<br>
    hsa-miR-489-5p<br>
    hsa-miR-490-3p<br>
    hsa-miR-490-5p<br>
    hsa-miR-491-3p<br>
    hsa-miR-491-5p<br>
    hsa-miR-492<br>
    hsa-miR-493-3p<br>
    hsa-miR-493-5p<br>
    hsa-miR-494-3p<br>
    hsa-miR-494-5p<br>
    hsa-miR-495-3p<br>
    hsa-miR-495-5p<br>
    hsa-miR-496<br>
    hsa-miR-497-3p<br>
    hsa-miR-497-5p<br>
    hsa-miR-498<br>
    hsa-miR-4999-3p<br>
    hsa-miR-4999-5p<br>
    hsa-miR-499a-3p<br>
    hsa-miR-499a-5p<br>
    hsa-miR-499b-3p<br>
    hsa-miR-499b-5p<br>
    hsa-miR-5000-3p<br>
    hsa-miR-5000-5p<br>
    hsa-miR-5001-3p<br>
    hsa-miR-5001-5p<br>
    hsa-miR-5002-3p<br>
    hsa-miR-5002-5p<br>
    hsa-miR-5003-3p<br>
    hsa-miR-5003-5p<br>
    hsa-miR-5004-3p<br>
    hsa-miR-5004-5p<br>
    hsa-miR-5006-3p<br>
    hsa-miR-5006-5p<br>
    hsa-miR-5007-3p<br>
    hsa-miR-5007-5p<br>
    hsa-miR-5008-3p<br>
    hsa-miR-5008-5p<br>
    hsa-miR-5009-3p<br>
    hsa-miR-5009-5p<br>
    hsa-miR-500a-3p<br>
    hsa-miR-500a-5p<br>
    hsa-miR-500b-3p<br>
    hsa-miR-500b-5p<br>
    hsa-miR-5010-3p<br>
    hsa-miR-5010-5p<br>
    hsa-miR-5011-3p<br>
    hsa-miR-5011-5p<br>
    hsa-miR-501-3p<br>
    hsa-miR-501-5p<br>
    hsa-miR-502-3p<br>
    hsa-miR-502-5p<br>
    hsa-miR-503-3p<br>
    hsa-miR-503-5p<br>
    hsa-miR-504-3p<br>
    hsa-miR-504-5p<br>
    hsa-miR-5047<br>
    hsa-miR-505-3p<br>
    hsa-miR-505-5p<br>
    hsa-miR-506-3p<br>
    hsa-miR-506-5p<br>
    hsa-miR-507<br>
    hsa-miR-508-3p<br>
    hsa-miR-508-5p<br>
    hsa-miR-5087<br>
    hsa-miR-5088-3p<br>
    hsa-miR-5088-5p<br>
    hsa-miR-5089-3p<br>
    hsa-miR-5089-5p<br>
    hsa-miR-5090<br>
    hsa-miR-5091<br>
    hsa-miR-5092<br>
    hsa-miR-5093<br>
    hsa-miR-509-3-5p<br>
    hsa-miR-509-3p<br>
    hsa-miR-5094<br>
    hsa-miR-5095<br>
    hsa-miR-509-5p<br>
    hsa-miR-5096<br>
    hsa-miR-5100<br>
    hsa-miR-510-3p<br>
    hsa-miR-510-5p<br>
    hsa-miR-511-3p<br>
    hsa-miR-511-5p<br>
    hsa-miR-512-3p<br>
    hsa-miR-512-5p<br>
    hsa-miR-513a-3p<br>
    hsa-miR-513a-5p<br>
    hsa-miR-513b-3p<br>
    hsa-miR-513b-5p<br>
    hsa-miR-513c-3p<br>
    hsa-miR-513c-5p<br>
    hsa-miR-514a-3p<br>
    hsa-miR-514a-5p<br>
    hsa-miR-514b-3p<br>
    hsa-miR-514b-5p<br>
    hsa-miR-515-3p<br>
    hsa-miR-515-5p<br>
    hsa-miR-516a-3p<br>
    hsa-miR-516a-5p<br>
    hsa-miR-516b-3p<br>
    hsa-miR-516b-5p<br>
    hsa-miR-517-5p<br>
    hsa-miR-517a-3p<br>
    hsa-miR-517b-3p<br>
    hsa-miR-517c-3p<br>
    hsa-miR-5186<br>
    hsa-miR-5187-3p<br>
    hsa-miR-5187-5p<br>
    hsa-miR-5188<br>
    hsa-miR-5189-3p<br>
    hsa-miR-5189-5p<br>
    hsa-miR-518a-3p<br>
    hsa-miR-518a-5p<br>
    hsa-miR-518b<br>
    hsa-miR-518c-3p<br>
    hsa-miR-518c-5p<br>
    hsa-miR-518d-3p<br>
    hsa-miR-518d-5p<br>
    hsa-miR-518e-3p<br>
    hsa-miR-518e-5p<br>
    hsa-miR-518f-3p<br>
    hsa-miR-518f-5p<br>
    hsa-miR-5190<br>
    hsa-miR-5191<br>
    hsa-miR-5192<br>
    hsa-miR-5193<br>
    hsa-miR-5194<br>
    hsa-miR-5195-3p<br>
    hsa-miR-5195-5p<br>
    hsa-miR-5196-3p<br>
    hsa-miR-5196-5p<br>
    hsa-miR-5197-3p<br>
    hsa-miR-5197-5p<br>
    hsa-miR-519a-3p<br>
    hsa-miR-519a-5p<br>
    hsa-miR-519b-3p<br>
    hsa-miR-519b-5p<br>
    hsa-miR-519c-3p<br>
    hsa-miR-519c-5p<br>
    hsa-miR-519d-3p<br>
    hsa-miR-519d-5p<br>
    hsa-miR-519e-3p<br>
    hsa-miR-519e-5p<br>
    hsa-miR-520a-3p<br>
    hsa-miR-520a-5p<br>
    hsa-miR-520b<br>
    hsa-miR-520c-3p<br>
    hsa-miR-520c-5p<br>
    hsa-miR-520d-3p<br>
    hsa-miR-520d-5p<br>
    hsa-miR-520e<br>
    hsa-miR-520f-3p<br>
    hsa-miR-520f-5p<br>
    hsa-miR-520g-3p<br>
    hsa-miR-520g-5p<br>
    hsa-miR-520h<br>
    hsa-miR-521<br>
    hsa-miR-522-3p<br>
    hsa-miR-522-5p<br>
    hsa-miR-523-3p<br>
    hsa-miR-523-5p<br>
    hsa-miR-524-3p<br>
    hsa-miR-524-5p<br>
    hsa-miR-525-3p<br>
    hsa-miR-525-5p<br>
    hsa-miR-526a<br>
    hsa-miR-526b-3p<br>
    hsa-miR-526b-5p<br>
    hsa-miR-527<br>
    hsa-miR-532-3p<br>
    hsa-miR-532-5p<br>
    hsa-miR-539-3p<br>
    hsa-miR-539-5p<br>
    hsa-miR-541-3p<br>
    hsa-miR-541-5p<br>
    hsa-miR-542-3p<br>
    hsa-miR-542-5p<br>
    hsa-miR-543<br>
    hsa-miR-544a<br>
    hsa-miR-544b<br>
    hsa-miR-545-3p<br>
    hsa-miR-545-5p<br>
    hsa-miR-548a-3p<br>
    hsa-miR-548a-5p<br>
    hsa-miR-548aa<br>
    hsa-miR-548ab<br>
    hsa-miR-548ac<br>
    hsa-miR-548ad-3p<br>
    hsa-miR-548ad-5p<br>
    hsa-miR-548ae-3p<br>
    hsa-miR-548ae-5p<br>
    hsa-miR-548ag<br>
    hsa-miR-548ah-3p<br>
    hsa-miR-548ah-5p<br>
    hsa-miR-548ai<br>
    hsa-miR-548aj-3p<br>
    hsa-miR-548aj-5p<br>
    hsa-miR-548ak<br>
    hsa-miR-548al<br>
    hsa-miR-548am-3p<br>
    hsa-miR-548am-5p<br>
    hsa-miR-548an<br>
    hsa-miR-548ao-3p<br>
    hsa-miR-548ao-5p<br>
    hsa-miR-548ap-3p<br>
    hsa-miR-548ap-5p<br>
    hsa-miR-548aq-3p<br>
    hsa-miR-548aq-5p<br>
    hsa-miR-548ar-3p<br>
    hsa-miR-548ar-5p<br>
    hsa-miR-548as-3p<br>
    hsa-miR-548as-5p<br>
    hsa-miR-548at-3p<br>
    hsa-miR-548at-5p<br>
    hsa-miR-548au-3p<br>
    hsa-miR-548au-5p<br>
    hsa-miR-548av-3p<br>
    hsa-miR-548av-5p<br>
    hsa-miR-548aw<br>
    hsa-miR-548ax<br>
    hsa-miR-548ay-3p<br>
    hsa-miR-548ay-5p<br>
    hsa-miR-548az-3p<br>
    hsa-miR-548az-5p<br>
    hsa-miR-548b-3p<br>
    hsa-miR-548b-5p<br>
    hsa-miR-548ba<br>
    hsa-miR-548bb-3p<br>
    hsa-miR-548bb-5p<br>
    hsa-miR-548c-3p<br>
    hsa-miR-548c-5p<br>
    hsa-miR-548d-3p<br>
    hsa-miR-548d-5p<br>
    hsa-miR-548e-3p<br>
    hsa-miR-548e-5p<br>
    hsa-miR-548f-3p<br>
    hsa-miR-548f-5p<br>
    hsa-miR-548g-3p<br>
    hsa-miR-548g-5p<br>
    hsa-miR-548h-3p<br>
    hsa-miR-548h-5p<br>
    hsa-miR-548i<br>
    hsa-miR-548j-3p<br>
    hsa-miR-548j-5p<br>
    hsa-miR-548k<br>
    hsa-miR-548l<br>
    hsa-miR-548m<br>
    hsa-miR-548n<br>
    hsa-miR-548o-3p<br>
    hsa-miR-548o-5p<br>
    hsa-miR-548p<br>
    hsa-miR-548q<br>
    hsa-miR-548s<br>
    hsa-miR-548t-3p<br>
    hsa-miR-548t-5p<br>
    hsa-miR-548u<br>
    hsa-miR-548v<br>
    hsa-miR-548w<br>
    hsa-miR-548x-3p<br>
    hsa-miR-548x-5p<br>
    hsa-miR-548y<br>
    hsa-miR-548z<br>
    hsa-miR-549a<br>
    hsa-miR-550a-3-5p<br>
    hsa-miR-550a-3p<br>
    hsa-miR-550a-5p<br>
    hsa-miR-550b-2-5p<br>
    hsa-miR-550b-3p<br>
    hsa-miR-551a<br>
    hsa-miR-551b-3p<br>
    hsa-miR-551b-5p<br>
    hsa-miR-552-3p<br>
    hsa-miR-552-5p<br>
    hsa-miR-553<br>
    hsa-miR-554<br>
    hsa-miR-555<br>
    hsa-miR-556-3p<br>
    hsa-miR-556-5p<br>
    hsa-miR-557<br>
    hsa-miR-5571-3p<br>
    hsa-miR-5571-5p<br>
    hsa-miR-5572<br>
    hsa-miR-5579-3p<br>
    hsa-miR-5579-5p<br>
    hsa-miR-558<br>
    hsa-miR-5580-3p<br>
    hsa-miR-5580-5p<br>
    hsa-miR-5581-3p<br>
    hsa-miR-5581-5p<br>
    hsa-miR-5582-3p<br>
    hsa-miR-5582-5p<br>
    hsa-miR-5583-3p<br>
    hsa-miR-5583-5p<br>
    hsa-miR-5584-3p<br>
    hsa-miR-5584-5p<br>
    hsa-miR-5585-3p<br>
    hsa-miR-5585-5p<br>
    hsa-miR-5586-3p<br>
    hsa-miR-5586-5p<br>
    hsa-miR-5587-3p<br>
    hsa-miR-5587-5p<br>
    hsa-miR-5588-3p<br>
    hsa-miR-5588-5p<br>
    hsa-miR-5589-3p<br>
    hsa-miR-5589-5p<br>
    hsa-miR-559<br>
    hsa-miR-5590-3p<br>
    hsa-miR-5590-5p<br>
    hsa-miR-5591-3p<br>
    hsa-miR-5591-5p<br>
    hsa-miR-561-3p<br>
    hsa-miR-561-5p<br>
    hsa-miR-562<br>
    hsa-miR-563<br>
    hsa-miR-564<br>
    hsa-miR-566<br>
    hsa-miR-567<br>
    hsa-miR-568<br>
    hsa-miR-5680<br>
    hsa-miR-5681a<br>
    hsa-miR-5681b<br>
    hsa-miR-5682<br>
    hsa-miR-5683<br>
    hsa-miR-5684<br>
    hsa-miR-5685<br>
    hsa-miR-5687<br>
    hsa-miR-5688<br>
    hsa-miR-5689<br>
    hsa-miR-569<br>
    hsa-miR-5690<br>
    hsa-miR-5691<br>
    hsa-miR-5692a<br>
    hsa-miR-5692b<br>
    hsa-miR-5692c<br>
    hsa-miR-5693<br>
    hsa-miR-5694<br>
    hsa-miR-5695<br>
    hsa-miR-5696<br>
    hsa-miR-5697<br>
    hsa-miR-5698<br>
    hsa-miR-5699-3p<br>
    hsa-miR-5699-5p<br>
    hsa-miR-5700<br>
    hsa-miR-5701<br>
    hsa-miR-5702<br>
    hsa-miR-5703<br>
    hsa-miR-570-3p<br>
    hsa-miR-5704<br>
    hsa-miR-5705<br>
    hsa-miR-570-5p<br>
    hsa-miR-5706<br>
    hsa-miR-5707<br>
    hsa-miR-5708<br>
    hsa-miR-571<br>
    hsa-miR-572<br>
    hsa-miR-573<br>
    hsa-miR-5739<br>
    hsa-miR-574-3p<br>
    hsa-miR-574-5p<br>
    hsa-miR-575<br>
    hsa-miR-576-3p<br>
    hsa-miR-576-5p<br>
    hsa-miR-577<br>
    hsa-miR-578<br>
    hsa-miR-5787<br>
    hsa-miR-579-3p<br>
    hsa-miR-579-5p<br>
    hsa-miR-580-3p<br>
    hsa-miR-580-5p<br>
    hsa-miR-581<br>
    hsa-miR-582-3p<br>
    hsa-miR-582-5p<br>
    hsa-miR-583<br>
    hsa-miR-584-3p<br>
    hsa-miR-584-5p<br>
    hsa-miR-585-3p<br>
    hsa-miR-585-5p<br>
    hsa-miR-586<br>
    hsa-miR-587<br>
    hsa-miR-588<br>
    hsa-miR-589-3p<br>
    hsa-miR-589-5p<br>
    hsa-miR-590-3p<br>
    hsa-miR-590-5p<br>
    hsa-miR-591<br>
    hsa-miR-592<br>
    hsa-miR-593-3p<br>
    hsa-miR-593-5p<br>
    hsa-miR-595<br>
    hsa-miR-596<br>
    hsa-miR-597-3p<br>
    hsa-miR-597-5p<br>
    hsa-miR-598-3p<br>
    hsa-miR-598-5p<br>
    hsa-miR-599<br>
    hsa-miR-600<br>
    hsa-miR-601<br>
    hsa-miR-602<br>
    hsa-miR-603<br>
    hsa-miR-604<br>
    hsa-miR-605-3p<br>
    hsa-miR-605-5p<br>
    hsa-miR-606<br>
    hsa-miR-6068<br>
    hsa-miR-6069<br>
    hsa-miR-607<br>
    hsa-miR-6070<br>
    hsa-miR-6071<br>
    hsa-miR-6072<br>
    hsa-miR-6073<br>
    hsa-miR-6074<br>
    hsa-miR-6075<br>
    hsa-miR-6076<br>
    hsa-miR-6077<br>
    hsa-miR-6078<br>
    hsa-miR-6079<br>
    hsa-miR-608<br>
    hsa-miR-6080<br>
    hsa-miR-6081<br>
    hsa-miR-6082<br>
    hsa-miR-6083<br>
    hsa-miR-6084<br>
    hsa-miR-6085<br>
    hsa-miR-6086<br>
    hsa-miR-6087<br>
    hsa-miR-6088<br>
    hsa-miR-6089<br>
    hsa-miR-609<br>
    hsa-miR-6090<br>
    hsa-miR-610<br>
    hsa-miR-611<br>
    hsa-miR-612<br>
    hsa-miR-6124<br>
    hsa-miR-6125<br>
    hsa-miR-6126<br>
    hsa-miR-6127<br>
    hsa-miR-6128<br>
    hsa-miR-6129<br>
    hsa-miR-613<br>
    hsa-miR-6130<br>
    hsa-miR-6131<br>
    hsa-miR-6132<br>
    hsa-miR-6133<br>
    hsa-miR-6134<br>
    hsa-miR-614<br>
    hsa-miR-615-3p<br>
    hsa-miR-615-5p<br>
    hsa-miR-616-3p<br>
    hsa-miR-6165<br>
    hsa-miR-616-5p<br>
    hsa-miR-617<br>
    hsa-miR-618<br>
    hsa-miR-619-3p<br>
    hsa-miR-619-5p<br>
    hsa-miR-620<br>
    hsa-miR-621<br>
    hsa-miR-622<br>
    hsa-miR-623<br>
    hsa-miR-624-3p<br>
    hsa-miR-624-5p<br>
    hsa-miR-625-3p<br>
    hsa-miR-625-5p<br>
    hsa-miR-626<br>
    hsa-miR-627-3p<br>
    hsa-miR-627-5p<br>
    hsa-miR-628-3p<br>
    hsa-miR-628-5p<br>
    hsa-miR-629-3p<br>
    hsa-miR-629-5p<br>
    hsa-miR-630<br>
    hsa-miR-631<br>
    hsa-miR-632<br>
    hsa-miR-633<br>
    hsa-miR-634<br>
    hsa-miR-635<br>
    hsa-miR-636<br>
    hsa-miR-637<br>
    hsa-miR-638<br>
    hsa-miR-639<br>
    hsa-miR-640<br>
    hsa-miR-641<br>
    hsa-miR-642a-3p<br>
    hsa-miR-642a-5p<br>
    hsa-miR-642b-3p<br>
    hsa-miR-642b-5p<br>
    hsa-miR-643<br>
    hsa-miR-644a<br>
    hsa-miR-645<br>
    hsa-miR-646<br>
    hsa-miR-647<br>
    hsa-miR-648<br>
    hsa-miR-649<br>
    hsa-miR-6499-3p<br>
    hsa-miR-6499-5p<br>
    hsa-miR-650<br>
    hsa-miR-6500-3p<br>
    hsa-miR-6500-5p<br>
    hsa-miR-6501-3p<br>
    hsa-miR-6501-5p<br>
    hsa-miR-6502-3p<br>
    hsa-miR-6502-5p<br>
    hsa-miR-6503-3p<br>
    hsa-miR-6503-5p<br>
    hsa-miR-6504-3p<br>
    hsa-miR-6504-5p<br>
    hsa-miR-6505-3p<br>
    hsa-miR-6505-5p<br>
    hsa-miR-6506-3p<br>
    hsa-miR-6506-5p<br>
    hsa-miR-6507-3p<br>
    hsa-miR-6507-5p<br>
    hsa-miR-6508-3p<br>
    hsa-miR-6508-5p<br>
    hsa-miR-6509-3p<br>
    hsa-miR-6509-5p<br>
    hsa-miR-6510-3p<br>
    hsa-miR-6510-5p<br>
    hsa-miR-6511a-3p<br>
    hsa-miR-6511a-5p<br>
    hsa-miR-6511b-3p<br>
    hsa-miR-6511b-5p<br>
    hsa-miR-6512-3p<br>
    hsa-miR-6512-5p<br>
    hsa-miR-6513-3p<br>
    hsa-miR-6513-5p<br>
    hsa-miR-651-3p<br>
    hsa-miR-6514-3p<br>
    hsa-miR-6514-5p<br>
    hsa-miR-6515-3p<br>
    hsa-miR-6515-5p<br>
    hsa-miR-651-5p<br>
    hsa-miR-6516-3p<br>
    hsa-miR-6516-5p<br>
    hsa-miR-652-3p<br>
    hsa-miR-652-5p<br>
    hsa-miR-653-3p<br>
    hsa-miR-653-5p<br>
    hsa-miR-654-3p<br>
    hsa-miR-654-5p<br>
    hsa-miR-655-3p<br>
    hsa-miR-655-5p<br>
    hsa-miR-656-3p<br>
    hsa-miR-656-5p<br>
    hsa-miR-657<br>
    hsa-miR-658<br>
    hsa-miR-659-3p<br>
    hsa-miR-659-5p<br>
    hsa-miR-660-3p<br>
    hsa-miR-660-5p<br>
    hsa-miR-661<br>
    hsa-miR-662<br>
    hsa-miR-663a<br>
    hsa-miR-663b<br>
    hsa-miR-664a-3p<br>
    hsa-miR-664a-5p<br>
    hsa-miR-664b-3p<br>
    hsa-miR-664b-5p<br>
    hsa-miR-665<br>
    hsa-miR-668-3p<br>
    hsa-miR-668-5p<br>
    hsa-miR-670-3p<br>
    hsa-miR-670-5p<br>
    hsa-miR-671-3p<br>
    hsa-miR-6715a-3p<br>
    hsa-miR-6715b-3p<br>
    hsa-miR-6715b-5p<br>
    hsa-miR-671-5p<br>
    hsa-miR-6716-3p<br>
    hsa-miR-6716-5p<br>
    hsa-miR-6717-5p<br>
    hsa-miR-6718-5p<br>
    hsa-miR-6719-3p<br>
    hsa-miR-6720-3p<br>
    hsa-miR-6720-5p<br>
    hsa-miR-6721-5p<br>
    hsa-miR-6722-3p<br>
    hsa-miR-6722-5p<br>
    hsa-miR-6723-5p<br>
    hsa-miR-6724-5p<br>
    hsa-miR-6726-3p<br>
    hsa-miR-6726-5p<br>
    hsa-miR-6727-3p<br>
    hsa-miR-6727-5p<br>
    hsa-miR-6728-3p<br>
    hsa-miR-6728-5p<br>
    hsa-miR-6729-3p<br>
    hsa-miR-6729-5p<br>
    hsa-miR-6730-3p<br>
    hsa-miR-6730-5p<br>
    hsa-miR-6731-3p<br>
    hsa-miR-6731-5p<br>
    hsa-miR-6732-3p<br>
    hsa-miR-6732-5p<br>
    hsa-miR-6733-3p<br>
    hsa-miR-6733-5p<br>
    hsa-miR-6734-3p<br>
    hsa-miR-6734-5p<br>
    hsa-miR-6735-3p<br>
    hsa-miR-6735-5p<br>
    hsa-miR-6736-3p<br>
    hsa-miR-6736-5p<br>
    hsa-miR-6737-3p<br>
    hsa-miR-6737-5p<br>
    hsa-miR-6738-3p<br>
    hsa-miR-6738-5p<br>
    hsa-miR-6739-3p<br>
    hsa-miR-6739-5p<br>
    hsa-miR-6740-3p<br>
    hsa-miR-6740-5p<br>
    hsa-miR-6741-3p<br>
    hsa-miR-6741-5p<br>
    hsa-miR-6742-3p<br>
    hsa-miR-6742-5p<br>
    hsa-miR-6743-3p<br>
    hsa-miR-6743-5p<br>
    hsa-miR-6744-3p<br>
    hsa-miR-6744-5p<br>
    hsa-miR-6745<br>
    hsa-miR-6746-3p<br>
    hsa-miR-6746-5p<br>
    hsa-miR-6747-3p<br>
    hsa-miR-6747-5p<br>
    hsa-miR-6748-3p<br>
    hsa-miR-6748-5p<br>
    hsa-miR-6749-3p<br>
    hsa-miR-6749-5p<br>
    hsa-miR-6750-3p<br>
    hsa-miR-6750-5p<br>
    hsa-miR-6751-3p<br>
    hsa-miR-6751-5p<br>
    hsa-miR-6752-3p<br>
    hsa-miR-6752-5p<br>
    hsa-miR-6753-3p<br>
    hsa-miR-6753-5p<br>
    hsa-miR-675-3p<br>
    hsa-miR-6754-3p<br>
    hsa-miR-6754-5p<br>
    hsa-miR-6755-3p<br>
    hsa-miR-6755-5p<br>
    hsa-miR-675-5p<br>
    hsa-miR-6756-3p<br>
    hsa-miR-6756-5p<br>
    hsa-miR-6757-3p<br>
    hsa-miR-6757-5p<br>
    hsa-miR-6758-3p<br>
    hsa-miR-6758-5p<br>
    hsa-miR-6759-3p<br>
    hsa-miR-6759-5p<br>
    hsa-miR-6760-3p<br>
    hsa-miR-6760-5p<br>
    hsa-miR-6761-3p<br>
    hsa-miR-6761-5p<br>
    hsa-miR-6762-3p<br>
    hsa-miR-6762-5p<br>
    hsa-miR-6763-3p<br>
    hsa-miR-6763-5p<br>
    hsa-miR-676-3p<br>
    hsa-miR-6764-3p<br>
    hsa-miR-6764-5p<br>
    hsa-miR-6765-3p<br>
    hsa-miR-6765-5p<br>
    hsa-miR-676-5p<br>
    hsa-miR-6766-3p<br>
    hsa-miR-6766-5p<br>
    hsa-miR-6767-3p<br>
    hsa-miR-6767-5p<br>
    hsa-miR-6768-3p<br>
    hsa-miR-6768-5p<br>
    hsa-miR-6769a-3p<br>
    hsa-miR-6769a-5p<br>
    hsa-miR-6769b-3p<br>
    hsa-miR-6769b-5p<br>
    hsa-miR-6770-3p<br>
    hsa-miR-6770-5p<br>
    hsa-miR-6771-3p<br>
    hsa-miR-6771-5p<br>
    hsa-miR-6772-3p<br>
    hsa-miR-6772-5p<br>
    hsa-miR-6773-3p<br>
    hsa-miR-6773-5p<br>
    hsa-miR-6774-3p<br>
    hsa-miR-6774-5p<br>
    hsa-miR-6775-3p<br>
    hsa-miR-6775-5p<br>
    hsa-miR-6776-3p<br>
    hsa-miR-6776-5p<br>
    hsa-miR-6777-3p<br>
    hsa-miR-6777-5p<br>
    hsa-miR-6778-3p<br>
    hsa-miR-6778-5p<br>
    hsa-miR-6779-3p<br>
    hsa-miR-6779-5p<br>
    hsa-miR-6780a-3p<br>
    hsa-miR-6780a-5p<br>
    hsa-miR-6780b-3p<br>
    hsa-miR-6780b-5p<br>
    hsa-miR-6781-3p<br>
    hsa-miR-6781-5p<br>
    hsa-miR-6782-3p<br>
    hsa-miR-6782-5p<br>
    hsa-miR-6783-3p<br>
    hsa-miR-6783-5p<br>
    hsa-miR-6784-3p<br>
    hsa-miR-6784-5p<br>
    hsa-miR-6785-3p<br>
    hsa-miR-6785-5p<br>
    hsa-miR-6786-3p<br>
    hsa-miR-6786-5p<br>
    hsa-miR-6787-3p<br>
    hsa-miR-6787-5p<br>
    hsa-miR-6788-3p<br>
    hsa-miR-6788-5p<br>
    hsa-miR-6789-3p<br>
    hsa-miR-6789-5p<br>
    hsa-miR-6790-3p<br>
    hsa-miR-6790-5p<br>
    hsa-miR-6791-3p<br>
    hsa-miR-6791-5p<br>
    hsa-miR-6792-3p<br>
    hsa-miR-6792-5p<br>
    hsa-miR-6793-3p<br>
    hsa-miR-6793-5p<br>
    hsa-miR-6794-3p<br>
    hsa-miR-6794-5p<br>
    hsa-miR-6795-3p<br>
    hsa-miR-6795-5p<br>
    hsa-miR-6796-3p<br>
    hsa-miR-6796-5p<br>
    hsa-miR-6797-3p<br>
    hsa-miR-6797-5p<br>
    hsa-miR-6798-3p<br>
    hsa-miR-6798-5p<br>
    hsa-miR-6799-3p<br>
    hsa-miR-6799-5p<br>
    hsa-miR-6800-3p<br>
    hsa-miR-6800-5p<br>
    hsa-miR-6801-3p<br>
    hsa-miR-6801-5p<br>
    hsa-miR-6802-3p<br>
    hsa-miR-6802-5p<br>
    hsa-miR-6803-3p<br>
    hsa-miR-6803-5p<br>
    hsa-miR-6804-3p<br>
    hsa-miR-6804-5p<br>
    hsa-miR-6805-3p<br>
    hsa-miR-6805-5p<br>
    hsa-miR-6806-3p<br>
    hsa-miR-6806-5p<br>
    hsa-miR-6807-3p<br>
    hsa-miR-6807-5p<br>
    hsa-miR-6808-3p<br>
    hsa-miR-6808-5p<br>
    hsa-miR-6809-3p<br>
    hsa-miR-6809-5p<br>
    hsa-miR-6810-3p<br>
    hsa-miR-6810-5p<br>
    hsa-miR-6811-3p<br>
    hsa-miR-6811-5p<br>
    hsa-miR-6812-3p<br>
    hsa-miR-6812-5p<br>
    hsa-miR-6813-3p<br>
    hsa-miR-6813-5p<br>
    hsa-miR-6814-3p<br>
    hsa-miR-6814-5p<br>
    hsa-miR-6815-3p<br>
    hsa-miR-6815-5p<br>
    hsa-miR-6816-3p<br>
    hsa-miR-6816-5p<br>
    hsa-miR-6817-3p<br>
    hsa-miR-6817-5p<br>
    hsa-miR-6818-3p<br>
    hsa-miR-6818-5p<br>
    hsa-miR-6819-3p<br>
    hsa-miR-6819-5p<br>
    hsa-miR-6820-3p<br>
    hsa-miR-6820-5p<br>
    hsa-miR-6821-3p<br>
    hsa-miR-6821-5p<br>
    hsa-miR-6822-3p<br>
    hsa-miR-6822-5p<br>
    hsa-miR-6823-3p<br>
    hsa-miR-6823-5p<br>
    hsa-miR-6824-3p<br>
    hsa-miR-6824-5p<br>
    hsa-miR-6825-3p<br>
    hsa-miR-6825-5p<br>
    hsa-miR-6826-3p<br>
    hsa-miR-6826-5p<br>
    hsa-miR-6827-3p<br>
    hsa-miR-6827-5p<br>
    hsa-miR-6828-3p<br>
    hsa-miR-6828-5p<br>
    hsa-miR-6829-3p<br>
    hsa-miR-6829-5p<br>
    hsa-miR-6830-3p<br>
    hsa-miR-6830-5p<br>
    hsa-miR-6831-3p<br>
    hsa-miR-6831-5p<br>
    hsa-miR-6832-3p<br>
    hsa-miR-6832-5p<br>
    hsa-miR-6833-3p<br>
    hsa-miR-6833-5p<br>
    hsa-miR-6834-3p<br>
    hsa-miR-6834-5p<br>
    hsa-miR-6835-3p<br>
    hsa-miR-6835-5p<br>
    hsa-miR-6836-3p<br>
    hsa-miR-6836-5p<br>
    hsa-miR-6837-3p<br>
    hsa-miR-6837-5p<br>
    hsa-miR-6838-3p<br>
    hsa-miR-6838-5p<br>
    hsa-miR-6839-3p<br>
    hsa-miR-6839-5p<br>
    hsa-miR-6840-3p<br>
    hsa-miR-6840-5p<br>
    hsa-miR-6841-3p<br>
    hsa-miR-6841-5p<br>
    hsa-miR-6842-3p<br>
    hsa-miR-6842-5p<br>
    hsa-miR-6843-3p<br>
    hsa-miR-6844<br>
    hsa-miR-6845-3p<br>
    hsa-miR-6845-5p<br>
    hsa-miR-6846-3p<br>
    hsa-miR-6846-5p<br>
    hsa-miR-6847-3p<br>
    hsa-miR-6847-5p<br>
    hsa-miR-6848-3p<br>
    hsa-miR-6848-5p<br>
    hsa-miR-6849-3p<br>
    hsa-miR-6849-5p<br>
    hsa-miR-6850-3p<br>
    hsa-miR-6850-5p<br>
    hsa-miR-6851-3p<br>
    hsa-miR-6851-5p<br>
    hsa-miR-6852-3p<br>
    hsa-miR-6852-5p<br>
    hsa-miR-6853-3p<br>
    hsa-miR-6853-5p<br>
    hsa-miR-6854-3p<br>
    hsa-miR-6854-5p<br>
    hsa-miR-6855-3p<br>
    hsa-miR-6855-5p<br>
    hsa-miR-6856-3p<br>
    hsa-miR-6856-5p<br>
    hsa-miR-6857-3p<br>
    hsa-miR-6857-5p<br>
    hsa-miR-6858-3p<br>
    hsa-miR-6858-5p<br>
    hsa-miR-6859-3p<br>
    hsa-miR-6859-5p<br>
    hsa-miR-6860<br>
    hsa-miR-6861-3p<br>
    hsa-miR-6861-5p<br>
    hsa-miR-6862-3p<br>
    hsa-miR-6862-5p<br>
    hsa-miR-6863<br>
    hsa-miR-6864-3p<br>
    hsa-miR-6864-5p<br>
    hsa-miR-6865-3p<br>
    hsa-miR-6865-5p<br>
    hsa-miR-6866-3p<br>
    hsa-miR-6866-5p<br>
    hsa-miR-6867-3p<br>
    hsa-miR-6867-5p<br>
    hsa-miR-6868-3p<br>
    hsa-miR-6868-5p<br>
    hsa-miR-6869-3p<br>
    hsa-miR-6869-5p<br>
    hsa-miR-6870-3p<br>
    hsa-miR-6870-5p<br>
    hsa-miR-6871-3p<br>
    hsa-miR-6871-5p<br>
    hsa-miR-6872-3p<br>
    hsa-miR-6872-5p<br>
    hsa-miR-6873-3p<br>
    hsa-miR-6873-5p<br>
    hsa-miR-6874-3p<br>
    hsa-miR-6874-5p<br>
    hsa-miR-6875-3p<br>
    hsa-miR-6875-5p<br>
    hsa-miR-6876-3p<br>
    hsa-miR-6876-5p<br>
    hsa-miR-6877-3p<br>
    hsa-miR-6877-5p<br>
    hsa-miR-6878-3p<br>
    hsa-miR-6878-5p<br>
    hsa-miR-6879-3p<br>
    hsa-miR-6879-5p<br>
    hsa-miR-6880-3p<br>
    hsa-miR-6880-5p<br>
    hsa-miR-6881-3p<br>
    hsa-miR-6881-5p<br>
    hsa-miR-6882-3p<br>
    hsa-miR-6882-5p<br>
    hsa-miR-6883-3p<br>
    hsa-miR-6883-5p<br>
    hsa-miR-6884-3p<br>
    hsa-miR-6884-5p<br>
    hsa-miR-6885-3p<br>
    hsa-miR-6885-5p<br>
    hsa-miR-6886-3p<br>
    hsa-miR-6886-5p<br>
    hsa-miR-6887-3p<br>
    hsa-miR-6887-5p<br>
    hsa-miR-6888-3p<br>
    hsa-miR-6888-5p<br>
    hsa-miR-6889-3p<br>
    hsa-miR-6889-5p<br>
    hsa-miR-6890-3p<br>
    hsa-miR-6890-5p<br>
    hsa-miR-6891-3p<br>
    hsa-miR-6891-5p<br>
    hsa-miR-6892-3p<br>
    hsa-miR-6892-5p<br>
    hsa-miR-6893-3p<br>
    hsa-miR-6893-5p<br>
    hsa-miR-6894-3p<br>
    hsa-miR-6894-5p<br>
    hsa-miR-6895-3p<br>
    hsa-miR-6895-5p<br>
    hsa-miR-708-3p<br>
    hsa-miR-708-5p<br>
    hsa-miR-7106-3p<br>
    hsa-miR-7106-5p<br>
    hsa-miR-7107-3p<br>
    hsa-miR-7107-5p<br>
    hsa-miR-7108-3p<br>
    hsa-miR-7108-5p<br>
    hsa-miR-7109-3p<br>
    hsa-miR-7109-5p<br>
    hsa-miR-711<br>
    hsa-miR-7110-3p<br>
    hsa-miR-7110-5p<br>
    hsa-miR-7111-3p<br>
    hsa-miR-7111-5p<br>
    hsa-miR-7112-3p<br>
    hsa-miR-7112-5p<br>
    hsa-miR-7113-3p<br>
    hsa-miR-7113-5p<br>
    hsa-miR-7114-3p<br>
    hsa-miR-7114-5p<br>
    hsa-miR-7-1-3p<br>
    hsa-miR-7150<br>
    hsa-miR-7151-3p<br>
    hsa-miR-7151-5p<br>
    hsa-miR-7152-3p<br>
    hsa-miR-7152-5p<br>
    hsa-miR-7153-3p<br>
    hsa-miR-7153-5p<br>
    hsa-miR-7154-3p<br>
    hsa-miR-7154-5p<br>
    hsa-miR-7155-3p<br>
    hsa-miR-7155-5p<br>
    hsa-miR-7156-3p<br>
    hsa-miR-7156-5p<br>
    hsa-miR-7157-3p<br>
    hsa-miR-7157-5p<br>
    hsa-miR-7158-3p<br>
    hsa-miR-7158-5p<br>
    hsa-miR-7159-3p<br>
    hsa-miR-7159-5p<br>
    hsa-miR-7160-3p<br>
    hsa-miR-7160-5p<br>
    hsa-miR-7161-3p<br>
    hsa-miR-7161-5p<br>
    hsa-miR-7162-3p<br>
    hsa-miR-7162-5p<br>
    hsa-miR-718<br>
    hsa-miR-7-2-3p<br>
    hsa-miR-744-3p<br>
    hsa-miR-744-5p<br>
    hsa-miR-7515<br>
    hsa-miR-758-3p<br>
    hsa-miR-758-5p<br>
    hsa-miR-759<br>
    hsa-miR-7-5p<br>
    hsa-miR-760<br>
    hsa-miR-761<br>
    hsa-miR-762<br>
    hsa-miR-764<br>
    hsa-miR-7641<br>
    hsa-miR-765<br>
    hsa-miR-766-3p<br>
    hsa-miR-766-5p<br>
    hsa-miR-767-3p<br>
    hsa-miR-767-5p<br>
    hsa-miR-769-3p<br>
    hsa-miR-769-5p<br>
    hsa-miR-7702<br>
    hsa-miR-7703<br>
    hsa-miR-7704<br>
    hsa-miR-7705<br>
    hsa-miR-770-5p<br>
    hsa-miR-7706<br>
    hsa-miR-7843-3p<br>
    hsa-miR-7843-5p<br>
    hsa-miR-7844-5p<br>
    hsa-miR-7845-5p<br>
    hsa-miR-7846-3p<br>
    hsa-miR-7847-3p<br>
    hsa-miR-7848-3p<br>
    hsa-miR-7849-3p<br>
    hsa-miR-7850-5p<br>
    hsa-miR-7851-3p<br>
    hsa-miR-7852-3p<br>
    hsa-miR-7853-5p<br>
    hsa-miR-7854-3p<br>
    hsa-miR-7855-5p<br>
    hsa-miR-7856-5p<br>
    hsa-miR-7973<br>
    hsa-miR-7974<br>
    hsa-miR-7975<br>
    hsa-miR-7976<br>
    hsa-miR-7977<br>
    hsa-miR-7978<br>
    hsa-miR-802<br>
    hsa-miR-8052<br>
    hsa-miR-8053<br>
    hsa-miR-8054<br>
    hsa-miR-8055<br>
    hsa-miR-8056<br>
    hsa-miR-8057<br>
    hsa-miR-8058<br>
    hsa-miR-8059<br>
    hsa-miR-8060<br>
    hsa-miR-8061<br>
    hsa-miR-8062<br>
    hsa-miR-8063<br>
    hsa-miR-8064<br>
    hsa-miR-8065<br>
    hsa-miR-8066<br>
    hsa-miR-8067<br>
    hsa-miR-8068<br>
    hsa-miR-8069<br>
    hsa-miR-8070<br>
    hsa-miR-8071<br>
    hsa-miR-8072<br>
    hsa-miR-8073<br>
    hsa-miR-8074<br>
    hsa-miR-8075<br>
    hsa-miR-8076<br>
    hsa-miR-8077<br>
    hsa-miR-8078<br>
    hsa-miR-8079<br>
    hsa-miR-8080<br>
    hsa-miR-8081<br>
    hsa-miR-8082<br>
    hsa-miR-8083<br>
    hsa-miR-8084<br>
    hsa-miR-8085<br>
    hsa-miR-8086<br>
    hsa-miR-8087<br>
    hsa-miR-8088<br>
    hsa-miR-8089<br>
    hsa-miR-8485<br>
    hsa-miR-873-3p<br>
    hsa-miR-873-5p<br>
    hsa-miR-874-3p<br>
    hsa-miR-874-5p<br>
    hsa-miR-875-3p<br>
    hsa-miR-875-5p<br>
    hsa-miR-876-3p<br>
    hsa-miR-876-5p<br>
    hsa-miR-877-3p<br>
    hsa-miR-877-5p<br>
    hsa-miR-885-3p<br>
    hsa-miR-885-5p<br>
    hsa-miR-887-3p<br>
    hsa-miR-887-5p<br>
    hsa-miR-888-3p<br>
    hsa-miR-888-5p<br>
    hsa-miR-889-3p<br>
    hsa-miR-889-5p<br>
    hsa-miR-890<br>
    hsa-miR-891a-3p<br>
    hsa-miR-891a-5p<br>
    hsa-miR-891b<br>
    hsa-miR-892a<br>
    hsa-miR-892b<br>
    hsa-miR-892c-3p<br>
    hsa-miR-892c-5p<br>
    hsa-miR-920<br>
    hsa-miR-921<br>
    hsa-miR-922<br>
    hsa-miR-924<br>
    hsa-miR-92a-1-5p<br>
    hsa-miR-92a-2-5p<br>
    hsa-miR-92a-3p<br>
    hsa-miR-92b-3p<br>
    hsa-miR-92b-5p<br>
    hsa-miR-933<br>
    hsa-miR-93-3p<br>
    hsa-miR-934<br>
    hsa-miR-935<br>
    hsa-miR-93-5p<br>
    hsa-miR-936<br>
    hsa-miR-937-3p<br>
    hsa-miR-937-5p<br>
    hsa-miR-938<br>
    hsa-miR-939-3p<br>
    hsa-miR-939-5p<br>
    hsa-miR-9-3p<br>
    hsa-miR-940<br>
    hsa-miR-941<br>
    hsa-miR-942-3p<br>
    hsa-miR-942-5p<br>
    hsa-miR-943<br>
    hsa-miR-944<br>
    hsa-miR-9500<br>
    hsa-miR-95-3p<br>
    hsa-miR-95-5p<br>
    hsa-miR-9-5p<br>
    hsa-miR-96-3p<br>
    hsa-miR-96-5p<br>
    hsa-miR-98-3p<br>
    hsa-miR-98-5p<br>
    hsa-miR-99a-3p<br>
    hsa-miR-99a-5p<br>
    hsa-miR-99b-3p<br>
    hsa-miR-99b-5p<br>
  </div>
</body>

</html>
